<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Add Contact Data</h2>

      <% if (errors.length !== 0 ) { %>
      <div class="alert alert-danger fw-bold mt-3" role="alert">
        <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
        <% }) %>
      </div>
      <% } %>

      <form method="POST" action="/contact">
        <div class="mb-3">
          <label for="name" class="form-label">Nama</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label for="mPhone" class="form-label">Nomor HP</label>
          <input type="text" class="form-control" id="mPhone" name="mPhone" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
      </form>
    </div>
  </div>
</div>
